
@{
    ViewBag.Title = "WelcomePage";
}

<style>
    body {
        background-color: white;
    }
</style>


<div class="bg-info center-block border border-dark" style="margin-top:150px">

   
    <h3 class="text-center" style="color:lightseagreen">
        <img src="~/Images/right tick mark.png" /> @ViewBag.Message
    </h3>
    <p class="text-center" style="color:darkslategray; font-size:15px">@ViewBag.Message1</p>


</div>



