
@{
    ViewBag.Title = "EntryPage";
}

@*<h2>EntryPage</h2>*@

<style>
    body {
        background-color: black;
    }
</style>
<br />
<br />
<img src="~/Images/logo-worldline.png" />
<br/>
<br/>
<br/>

<img src="~/Images/women.jpg" />
<img src="~/Images/manimage.jpg" />